<div class="card">
  <div class="card-header">
    Modèles
  </div>
  <form [formGroup]="createModelForm" (ngSubmit)="createModel()" *ngIf="createpermission">
    <div class="card-body ">
      <div class="callout callout-warning ">
        <strong class="text-muted">Créer un modèle</strong><br>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="modellibelle">Modèle Libellé</label>
          <input type="text" placeholder="Modèle Libellé " id="modellibelle" class="form-control"
            formControlName="modellibelle">

          <div
            *ngIf="createModelForm.controls.modellibelle.errors && createModelForm.controls.modellibelle.errors.required && createModelForm.controls.modellibelle.touched"
            class="ng-invalid-feedback">
            Ce champ est requis
          </div>
          <div
            *ngIf="createModelForm.controls.modellibelle.errors && createModelForm.controls.modellibelle.errors.maxlength && createModelForm.controls.modellibelle.touched"
            class="ng-invalid-feedback">
            la longueur ne peut pas dépasser 50 caractères
          </div>
          <div
            *ngIf="createModelForm.controls.modellibelle.errors && createModelForm.controls.modellibelle.errors.uniqueLibelle && createModelForm.controls.modellibelle.touched"
            class="ng-invalid-feedback">
            Libellé doit être unique </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <button [disabled]="!createModelForm.valid" class="btn btn-sm btn-primary mb-1"><i class="fa fa-plus"></i>
        Ajouter un
        modèle
      </button>
      <button (click)="refresh()" class="btn btn-sm btn-danger ml-2 mb-1"><i class="fa fa-refresh"></i>
        Rafraîchir
      </button>
    </div>
  </form>

  <div class="card-body " *ngIf="listpermission">
    <div class="callout callout-warning">
      <strong class="text-muted">Liste des modèles </strong><br>
    </div>
    <jqxGrid (onCellendedit)="gridOnCellEndEdit($event)" [theme]="'bootstrap'" [width]="'100%'" [source]="dataAdapter"
      [columns]="columns " [editable]="true" [editmode]="'dblclick'" [localization]="localization"
      [selectionmode]="'single'" [pageable]="true" [autoheight]="true" [autorowheight]="true" [sortable]="true"
      [altrows]="true" [columnsresize]="true" [filterable]="true" [showfilterrow]="true"
      (onPagechanged)="gridPageChange($event)" #grid>
    </jqxGrid>
  </div>



</div>
