<div class="card-body " [formGroup]="formgroup">
  <div class="callout callout-warning ">
    <strong class="text-muted">Create a Canvas</strong><br>
  </div>
  <div class="callout callout-info ml-3">
    <strong class="text-muted ml-3">Canvas</strong><br>
  </div>
  <div [formGroup]="formgroup.get('canvasgroup')">
    <div class="form-group row ">
      <div class=" col-lg-3 col-md-4 col-sm-12">
        <label class=" " for="libelleControl">Canvas Libellé</label>
        <input type="text" placeholder="Canvas Libellé " id="libelleControl" class="form-control"
          formControlName="libelleControl">
        <div class="ng-invalid-feedback"
          *ngIf="asFormGroup(formgroup.controls.canvasgroup).controls.libelleControl.errors && asFormGroup(formgroup.controls.canvasgroup).controls.libelleControl.errors.required && asFormGroup(formgroup.controls.canvasgroup).controls.libelleControl.touched">
          Ce champ est requis
        </div>
        <div class="ng-invalid-feedback"
          *ngIf="asFormGroup(formgroup.controls.canvasgroup).controls.libelleControl.errors && asFormGroup(formgroup.controls.canvasgroup).controls.libelleControl.errors.maxlength && asFormGroup(formgroup.controls.canvasgroup).controls.libelleControl.touched">
          la longueur ne peut pas dépasser 50 caractères
        </div>
        <div
          *ngIf="asFormGroup(formgroup.controls.canvasgroup).controls.libelleControl.errors && asFormGroup(formgroup.controls.canvasgroup).controls.libelleControl.errors.uniqueLibelle && asFormGroup(formgroup.controls.canvasgroup).controls.libelleControl.touched"
          class="ng-invalid-feedback">
          Libellé doit être unique
        </div>
      </div>

    </div>
    <div class="form-group row">
      <div class=" col-md-2 col-sm-6 col-form-label ">
        Modèle
      </div>
      <div class="col-md-3 col-sm-6">
        <ng-multiselect-dropdown [placeholder]="'Select Modèle'" [data]="models" [settings]="modeldropdownSettings"
          formControlName="modelControl">
        </ng-multiselect-dropdown>
        <div class="ng-invalid-feedback"
          *ngIf="asFormGroup(formgroup.controls.canvasgroup).controls.modelControl.errors && asFormGroup(formgroup.controls.canvasgroup).controls.modelControl.errors.required && asFormGroup(formgroup.controls.canvasgroup).controls.modelControl.touched">
          Ce champ est requis
        </div>
      </div>

    </div>
  </div>
  <div class="callout callout-info ml-3">
    <strong class="text-muted ml-3">Paramètres</strong><br>
  </div>
  <div formArrayName="paramsArray">

    <div *ngFor="let fg of asFormArray(formgroup.get('paramsArray')).controls; let i = index" [formGroup]="fg"
      class="paramgroup border border-primary rounded ">
      <div class="form-group row">
        <div class="col-sm-5">
          <label class=" ">Paramètre Libellé</label>

          <input type="text" placeholder="Paramètre Libellé " class="form-control" formControlName="paramlibelle">
          <div
            *ngIf="fg.controls.paramlibelle.errors &&fg.controls.paramlibelle.errors.required && fg.controls.paramlibelle.touched"
            class="ng-invalid-feedback">
            Ce champ est requis
          </div>
          <div
            *ngIf="fg.controls.paramlibelle.errors && fg.controls.paramlibelle.errors.maxlength && fg.controls.paramlibelle.touched"
            class="ng-invalid-feedback">
            la longueur ne peut pas dépasser 50 caractères
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class=" col-lg-2 col-md-6 col-sm-10 col-8">
          Valeur Prédéfinie
        </div>
        <div class="col-lg-1 col-md-6 col-sm-2  col-2 text-center">
          <label class="switch switch-label switch-info">
            <input type="checkbox" class="switch-input" checked formControlName="valeurpredefini"
              (change)="changeValeurPredefini(fg.controls)">
            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
          </label>
        </div>
      </div>

      <div class="form-group row" *ngIf="!fg.controls.valeurpredefini.value">
        <div class="col-sm-2 col-form-label text-center">
          Format Données
        </div>
        <div class="col-sm-3">
          <ng-multiselect-dropdown [placeholder]="'Select Format Données'" [settings]="formatdonnedropdownSettings"
            [data]="formatDonnees" formControlName="formatdonee">
          </ng-multiselect-dropdown>
          <div
            *ngIf="fg.controls.formatdonee.errors && fg.controls.formatdonee.errors.required && fg.controls.formatdonee.touched"
            class="ng-invalid-feedback">
            Ce champ est requis
          </div>
        </div>
      </div>
      <div>
        <div *ngIf="fg.controls.valeurpredefini.value" [formGroup]="fg.controls.query">
          <div class="form-group row">
            <div class="col-sm-12">
              <!-- [value]="(!fg.controls.valeurpredefini.value&&!fg.controls.query.controls.qdonnebase.touched)?'random non empty value for validation':fg.controls.query.controls.qdonnebase.value"> -->
              <label class=" ">Requête Donnée de base</label>

              <input type="text" placeholder="Requête Donnée de base" class="form-control" formControlName="qdonnebase">
              <div class="ng-invalid-feedback"
                *ngIf="fg.controls.query.controls.qdonnebase.errors && fg.controls.query.controls.qdonnebase.errors.required && fg.controls.query.controls.qdonnebase.touched">
                Ce champ est requis
              </div>
              <!-- <div class="ng-invalid-feedback"
                *ngIf="fg.controls.query.controls.qdonnebase.errors && fg.controls.query.controls.qdonnebase.errors.maxlength && fg.controls.query.controls.qdonnebase.touched">
                the length can't be over 150 charachters
              </div> -->
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 col-ld-3 col-md-3">
              <label class=" ">Valeur Afficher</label>

              <input type="text" placeholder="Valeur Afficher" class="form-control" formControlName="vafficher">
              <div class="ng-invalid-feedback"
                *ngIf="fg.controls.query.controls.vafficher.errors && fg.controls.query.controls.vafficher.errors.required && fg.controls.query.controls.vafficher.touched">
                Ce champ est requis
              </div>
              <div class="ng-invalid-feedback"
                *ngIf="fg.controls.query.controls.vafficher.errors && fg.controls.query.controls.vafficher.errors.maxlength && fg.controls.query.controls.vafficher.touched">
                la longueur ne peut pas dépasser 50 caractères
              </div>
            </div>

            <div class="col-sm-12 col-ld-3 col-md-3">
              <label class=" ">Valeur Retour</label>

              <input type="text" placeholder="Valeur Retour" class="form-control" formControlName="vretour">
              <div class="ng-invalid-feedback"
                *ngIf="fg.controls.query.controls.vretour.errors && fg.controls.query.controls.vretour.errors.required && fg.controls.query.controls.vretour.touched">
                Ce champ est requis
              </div>
              <div class="ng-invalid-feedback"
                *ngIf="fg.controls.query.controls.vretour.errors && fg.controls.query.controls.vretour.errors.maxlength && fg.controls.query.controls.vretour.touched">
                la longueur ne peut pas dépasser 50 caractères
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-footer">
  <div class="form-group row ">
    <div class="col-sm-4 col-12 col-md-4 col-ld-2 mb-1 text-center">
      <button class="btn btn-sm btn-primary" type="button" (click)="addParamControl()"><i class="fa fa-plus"></i>
        Ajouter
        Paramètre</button>
    </div>

    <div class="col-sm-4 col-12 col-md-4 col-ld-2  mb-1 text-center">
      <button class="btn btn-sm btn-primary" type="button" (click)="createCanvas()"><i class="fa fa-plus"></i> Ajouter
        Canvas</button>

    </div>
    <div class="col-sm-4 col-12 col-md-4 col-ld-2 mb-1 text-center">
      <button (click)="refreshTable()" class="btn btn-sm btn-danger"><i class="fa fa-refresh"></i>
        Rafraîchir
      </button>
    </div>
  </div>

</div>
