<div class="card">
  <div class="card-header">
    Canvas
  </div>
  <app-create-canvas-form (addToTable)="addToTable($event)" (RefreshTable)="refresh()" *ngIf="createpermission">
  </app-create-canvas-form>

  <div class="card-body " *ngIf="listpermission">
    <div class="callout callout-warning">
      <strong class="text-muted">Liste des Canvas</strong><br>
    </div>
    <jqxGrid [theme]="'bootstrap'" #Grid [width]="'100%'" [source]="canvasAdapter" [columns]="columns"
      [rowdetails]="true" [rowsheight]="35" [initrowdetails]="initRowDetails" [ready]="ready"
      [rowdetailstemplate]="rowdetailstemplate" [localization]="localization" [editable]="true" [autoheight]="true"
      [autorowheight]="true" [editmode]="'dblclick'" [altrows]="true" [columnsresize]="true" [filterable]="true"
      [sortable]="true" [selectionmode]="'single'" (onCellendedit)="gridOnCellEndEdit($event)" [showfilterrow]="true"
      [pageable]="true" [columnsresize]="true">
    </jqxGrid>

  </div>

</div>
