<div class="card">
  <div class="card-header">
    Données
  </div>
  <div class="card-body " *ngIf="createpermission">
    <div class="row">
      <div class="col-xl-4 col-sm-12 form-group row">
        <div class="col-sm-4 col-form-label text-center">
          Modèle
        </div>
        <div class="col-sm-8">
          <ng-multiselect-dropdown [placeholder]="'Select Modèle'" [settings]="modelsdropdownSettings" [data]="models"
            (onSelect)="initCanvasList($event)">
          </ng-multiselect-dropdown>
        </div>
      </div>
      <div *ngIf="aModelisSelected" class="col-xl-8 col-sm-12 form-group row">
        <div class="col-lg-4 col-sm-6 col-form-label text-center">
          Recherche de clé primaire
        </div>
        <div class="col-lg-4 col-sm-7 ">
          <input type="text" class="form-control" placeholder="Recherche de clé primaire"
            (input)="changeSearchValue($event);">
        </div>
        <div class="col-lg-4 col-sm-5 ">
          <button class="btn btn-outline-success" (click)="searchForCanvaLignes();"><i class=" fa fa-search"></i>
            Rechercher
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let c of canvas;let i=index" class="canvascontainer m-3">
    <div class="card-header  bg-info row">
      <div class="col-sm-2 col-form-label">
        <strong>{{c.LIBELLE}}</strong>
      </div>
      <div class="col-sm-10 text-right">
        <button class="btn btn-dark ml-2 mb-1" (click)="addMultipleLigne(c)"><i class="fa fa-plus"></i>
          Ajouter plusieurs lignes
        </button>
        <button class="btn btn-success ml-2 mb-1" (click)="addLigne(c)"><i class="fa fa-plus"></i> Ajouter un Ligne
        </button> <button class="btn btn-warning ml-2  mb-1 text-white" (click)="rejectSelectedCell(c)"><i
            class="fa fa-close"></i>
          Rejeter un Ligne
        </button> <button class="btn btn-danger ml-2 mb-1" (click)="refreshCanvasGrif(c)"><i class="fa fa-refresh"></i>
          Rafraîchir
        </button>
      </div>
    </div>
    <div class="card-body " *ngIf="canvasGridsSettings&&canvasGridsSettings.get(c.ID_CANVAS)">
      <jqxGrid (onCellendedit)="gridOnCellEndEdit($event,c)" [theme]="'bootstrap'" [width]="'100%'"
        [source]="canvasGridsSettings.get(c.ID_CANVAS).dataSource"
        [columns]="canvasGridsSettings.get(c.ID_CANVAS).columns " [editable]="true" [editmode]="'dblclick'"
        [localization]="canvasGridsSettings.get(c.ID_CANVAS).localization" [selectionmode]="'single'" [pageable]="true"
        [autoheight]="true" [autorowheight]="true" [sortable]="true" [altrows]="true" [columnsresize]="true"
        [filterable]="true" [showfilterrow]="true" (onPagechanged)="gridPageChange($event,c)"
        [selectionmode]="'singlecell'">
      </jqxGrid>
    </div>
  </div>
</div>



<div class="modal  " style="display: block;" *ngIf="showpopup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">rejeter le paramètre {{this.selectedcelldata.paramName}} en canvas :
          {{this.selectedcelldata.canvas.LIBELLE}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="showpopup = false;this.formGroup.reset();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" [formGroup]="formGroup">
          <label for="motif">Motif</label>
          <input type="text" placeholder="Motif" id="motif" class="form-control" formControlName="motif">
          <div
            *ngIf="formGroup.controls.motif.errors && formGroup.controls.motif.errors.required && formGroup.controls.motif.touched"
            class="ng-invalid-feedback">
            Ce champ est requis
          </div>
          <div
            *ngIf="formGroup.controls.motif.errors && formGroup.controls.motif.errors.maxlength && formGroup.controls.motif.touched"
            class="ng-invalid-feedback">
            La longueur ne peut pas dépasser 150 caractères
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="showpopup = false;this.formGroup.reset();" class="btn btn-secondary"
          data-dismiss="modal">Fermer</button>
        <button type="button" [disabled]="!this.formGroup.valid" (click)="addMotif();"
          class="btn btn-primary">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>
<div class="modal  " style="display: block;" *ngIf="showmultiplelinespopup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Insérer plusieurs lignes en canvas :
          {{canvastoinsertlines.LIBELLE}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="showmultiplelinespopup = false;this.excelformGroup.reset();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" [formGroup]="excelformGroup">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" formControlName="file" #fileInput
              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            <label class="custom-file-label" for="customFile">Choisir le fichier</label>
          </div>
          <div class="errorslist">
            <div
              *ngIf="excelformGroup.controls.file.errors && excelformGroup.controls.file.errors.required && excelformGroup.controls.file.touched"
              class="ng-invalid-feedback">
              Ce champ est requis
            </div>
            <div *ngFor="let err of errorsinfile" class="ng-invalid-feedback">
              Erreur en ligne {{err.ligne}} {{(err.param)?"collomn "+err.param:""}} {{(err.msg)?" "+err.msg:""}}
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="showmultiplelinespopup = false;this.excelformGroup.reset();"
          class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" [disabled]="!this.excelformGroup.valid" (click)="addMultipleLignesFromfile();"
          class="btn btn-primary">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>
