input.ng-invalid.ng-touched {
  border-color: #f86c6b;

  box-shadow: 0 0 0 .2rem #f86b6b4b;
}


input.ng-valid {
  border-color: #4dbd74;
  box-shadow: 0 0 0 .2rem rgba(77, 189, 116, .25);
}

.ng-invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #f86c6b;
}

.params-container {
  padding: 1.25rem;

}

.errorslist {
  overflow-y: auto;
  max-height: 500px;
}
