<div class="card">
  <div class="card-header">
    Paramètres
  </div>
  <div class="card-body " *ngIf="listpermission" [formGroup]="form">
    <div class="callout callout-warning">
      <strong class="text-muted">Liste des Paramètres</strong><br>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 col-md-2 col-form-label text-center mb-1">
        Modèle :
      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <ng-multiselect-dropdown [placeholder]="'Select Modèle'" (onSelect)="onSelectModel($event);" [data]="models"
          formControlName="model" [settings]="modeldropdownSettings">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-md-2 col-sm-6 col-form-label text-center mb-1">
        Canvas :
      </div>
      <div class="col-md-3 col-sm-6 mb-1">
        <ng-multiselect-dropdown [placeholder]="'Select Canvas'" [data]="canvas" formControlName="canvas"
          [settings]="canvasdropdownSettings" (onSelect)="onSelectCanvas($event);">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <jqxGrid (onCellendedit)="gridOnCellEndEdit($event)" [theme]="'bootstrap'" [width]="'100%'" [source]="dataAdapter"
      [columns]="columns " [editable]="true" [editmode]="'dblclick'" [localization]="localization"
      [selectionmode]="'single'" [pageable]="true" [autoheight]="true" [autorowheight]="true" [sortable]="true"
      [altrows]="true" [columnsresize]="true" [filterable]="true" [showfilterrow]="true"
      (onPagechanged)="gridPageChange($event)" #Grid>
    </jqxGrid>
  </div>
</div>
